.success-container {
text-align: center;
margin-top: 50px;
}

.message {
font-size: 1.5rem;
margin-bottom: 20px;
}

.success-button {
background-color: #E2F1F8;
color: #37474F;
padding: 15px 32px;
font-size: 16px;
cursor: pointer;
border: none;
border-radius: 8px;
transition: background-color 0.3s ease;

backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.1);
}

.success-button:hover {
background-color: #CCE5F4;
}